<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Companies list | Umana</title>
</head>

<body>
  <h1>Index of companies</h1>
  <ul>
    {{#each companies}}
    <li>{{name}}</li>
    {{/each}}
  </ul>
  <div id="count"></div>
  <button id="increase">Sumar</button> | <button id="decrease">Restar</button>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io('http://localhost:3026');
    // socket.on('getCompanies', function(data) {
    //   console.log('getCompanies', data)
    // })
    socket.on('count', function(data) {;
      document.getElementById("count").innerHTML = data.count
    });
    document.getElementById("increase").onclick = function() {
      socket.emit('increase')
    }
    document.getElementById("decrease").onclick = function() {
      socket.emit('decrease')
    }
  </script>
</body>

</html>